<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        Welcome

            <a href="{{ path('app_logout')}}">Log out</a>
            <a href="{{ path('app_login') }}">Login page</a>

        {% endblock %}

        {% block javascripts %}
            <script>
                https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js
                    https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js
            </script>
        {% endblock %}
    </body>
</html>
